bground RCDATA "asset\\login\\bgLogin2.png"
chbox RCDATA "asset\\login\\checkbox.png"
logo RCDATA "asset\\login\\LogoSymp.png"
mdp RCDATA "asset\\login\\password.png"
user RCDATA "asset\\login\\utilisateur.png"
banniere RCDATA "asset\\headerProgramme\\banniere.png"
btnResize RCDATA "asset\\headerProgramme\\btnResize.png"
calendarG RCDATA "asset\\headerProgramme\\calendarG.png"
empl1 RCDATA "asset\\headerProgramme\\empl1.png"
empl2 RCDATA "asset\\headerProgramme\\empl2.png"
empl3 RCDATA "asset\\headerProgramme\\empl3.png"
flecheBas RCDATA "asset\\headerProgramme\\flecheBas.png"
logo_SS RCDATA "asset\\headerProgramme\\logo_SS.png"
loupe RCDATA "asset\\headerProgramme\\loupe.png"
notif RCDATA "asset\\headerProgramme\\notification.png"
